# See docs/examples here:
# http://doc.gitlab.com/ce/ci/quick_start/README.html
# http://doc.gitlab.com/ce/ci/yaml/README.html

# GitLab CI template for Go tests. Note this installs
# a new working copy of Go (1.5.2 in this case) 
# in a non-standard path such that sudo/root is not 
# needed for the install stage.

# note that this particular install-environment stage
# is overly verbose in order to debug anything tricky
# or weird in your environment - feel free to trim it 
# down as needed

stages:
  - install-environment
  - build
  - test

install-go:
  stage: install-environment
  script:
    - export CURRENT_BUILD_PATH=$(pwd)
    - echo $PATH
    - rm -rf $HOME/gopath
    - mkdir -p $HOME/gopath # for GOPATH (contains code and external packages)
    - export GOPATH=$HOME/gopath
    - export PATH=$PATH:$GOPATH/bin
    - go version
    - echo $PATH
    - go env
    - which go

build-my-project:
  stage: build
  script:
    - export GOPATH=$HOME/gopath
    - export PATH=$PATH:$GOPATH/bin
    - go get -d
    - go build

test-my-project:
  stage: test
  script:
    - export GOPATH=$HOME/gopath
    - export PATH=$PATH:$GOPATH/bin
    - go test
