# See docs/examples here:
# http://doc.gitlab.com/ce/ci/quick_start/README.html
# http://doc.gitlab.com/ce/ci/yaml/README.html

# GitLab CI template for Go tests. Note this installs
# a new working copy of Go (1.5.2 in this case) 
# in a non-standard path such that sudo/root is not 
# needed for the install stage.

# note that this particular install-environment stage
# is overly verbose in order to debug anything tricky
# or weird in your environment - feel free to trim it 
# down as needed

stages:
  - install-environment
  - build
  - test
  - deploy
  - mirror

install-go:
  stage: install-environment
  script:
    - export CURRENT_BUILD_PATH=$(pwd)
    - echo $PATH
    - rm -rf $HOME/gopath
    - rm -rf $HOME/golang
    - mkdir -p $HOME/gopath/src
    - mkdir -p $HOME/golang
    - curl https://storage.googleapis.com/golang/go1.6.3.linux-amd64.tar.gz 2>/dev/null > go1.6.3.linux-amd64.tar.gz
    - tar -C $HOME/golang -xzf go1.6.3.linux-amd64.tar.gz
    - export GOROOT=$HOME/golang/go    
    - export GOPATH=$HOME/gopath
    - export PATH=$PATH:$GOROOT/bin    
    - export PATH=$PATH:$GOPATH/bin
    - ln -s $CI_PROJECT_DIR $GOPATH/src/thing
    - go version
    - echo $PATH
    - go env
    - which go

build-my-project:
  stage: build
  script:
    - cd $GOPATH/src/thing
    - go get -d
    - go build

test-my-project:
  stage: test
  script:
    - cd $GOPATH/src/thing  
    - go test

deploy-it:
  stage: deploy
  only: 
    - master@go/thing
  script:
    - cd $GOPATH/src/thing
    - mkdir deploy
    - go get -d
    - go build -o ./deploy/thing
    - cp -r templates CHANGELOG.md README.md assets deploy/
    - rsync -av --delete --exclude data/ --exclude http.log deploy/ golang@localhost:/home/golang/thing/
    - ssh golang@localhost sudo systemctl restart golang-thing

mirror-to-github:
  stage: mirror
  only:
    - /^github$/
  script:
    - git push --mirror git@github.com:aqtrans/gothing.git
