image: golang:latest

cache:
  key: "$CI_BUILD_REF_NAME"
  paths:
    - vendor/

before_script:
  - ln -s /builds /go/src/jba.io
  - cd /go/src/jba.io/go/thing
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo "$SSH_SERVER_HOSTKEYS" > ~/.ssh/known_hosts'

stages:
  - install-environment
  - get-deps
  - build-css
  - build
  - test
  - deploy  

install-go:
  stage: install-environment
  script:
    - go version
    - echo $PATH
    - echo $GOPATH
    - go env
    - which go
  
get-deps:
  stage: get-deps
  script:
    - curl -o dep -sL https://github.com/golang/dep/releases/download/v0.3.2/dep-linux-amd64
    - chmod +x dep
    - ./dep ensure -v
    - go get -d -v
  artifacts:
    paths: 
      - vendor/

build-css:
  stage: build-css
  script:
    - curl -sL https://deb.nodesource.com/setup_6.x | bash -
    - apt-get update -y && apt-get install -y nodejs
    - npm install -g bower gulp    
    - /bin/sh ./build_css.sh
  artifacts:
    paths: 
      - assets/css/thing.css
      - assets/css/thing.css.map 

build-my-project:
  stage: build
  script:
    - go get -d -v  
    - go build -o ./thing
  cache:
    paths:
      - bower_components/
  artifacts:
    paths:
      - thing

test-my-project:
  stage: test
  coverage: '/coverage: \d+\.\d+/'
  script:
    - go get -d -v  
    - go test -v
    - go test -race
    - go test -cover

deploy_staging:
  stage: deploy
  variables:
    DEPLOY_HOST: 'golang@192.168.1.100'
  script:
    - echo $DEPLOY_HOST
    - echo $CI_PROJECT_NAME
    - apt-get update -y && apt-get install -y rsync
    # rsync to fresh folder
    - rsync -av --exclude data/ --exclude vendor/ --exclude http.log ./ $DEPLOY_HOST:$CI_PROJECT_NAME.$CI_COMMIT_SHA
    # Stop app, to release DB locks 
    - ssh $DEPLOY_HOST sudo systemctl stop golang@$CI_PROJECT_NAME    
    # Copy data/ from current to new
    #- ssh $DEPLOY_HOST /bin/bash -c "'if test -d $CI_PROJECT_NAME; then cp -rpv $CI_PROJECT_NAME/data $CI_PROJECT_NAME.$CI_COMMIT_SHA/; fi'"
    # If current symlink exists, remove it
    - ssh $DEPLOY_HOST /bin/bash -c "'if test -L $CI_PROJECT_NAME; then rm $CI_PROJECT_NAME; fi'"
    # Create symlink from $CI_PROJECT_NAME.$CI_COMMIT_SHA to $CI_PROJECT_NAME
    - ssh $DEPLOY_HOST ln -sv $CI_PROJECT_NAME.$CI_COMMIT_SHA $CI_PROJECT_NAME
    # Restart app
    - ssh $DEPLOY_HOST systemctl --user start golang@$CI_PROJECT_NAME
  environment:
    name: staging
    url: http://thing.rick.jba.io
  when: manual

deploy_prod:
  stage: deploy
  variables:
    DEPLOY_HOST: 'golang@frink.jba.io'
  script:
    - echo $DEPLOY_HOST
    - echo $CI_PROJECT_NAME
    - apt-get update -y && apt-get install -y rsync
    # rsync to fresh folder
    - rsync -av --exclude data/ --exclude vendor/ --exclude http.log ./ $DEPLOY_HOST:$CI_PROJECT_NAME.$CI_COMMIT_SHA
    # Stop app, to release DB locks 
    - ssh $DEPLOY_HOST sudo systemctl stop golang@$CI_PROJECT_NAME    
    # Copy data/ from current to new
    #- ssh $DEPLOY_HOST /bin/bash -c "'if test -d $CI_PROJECT_NAME; then cp -rpv $CI_PROJECT_NAME/data $CI_PROJECT_NAME.$CI_COMMIT_SHA/; fi'"
    # If current symlink exists, remove it
    - ssh $DEPLOY_HOST /bin/bash -c "'if test -L $CI_PROJECT_NAME; then rm $CI_PROJECT_NAME; fi'"
    # Create symlink from $CI_PROJECT_NAME.$CI_COMMIT_SHA to $CI_PROJECT_NAME
    - ssh $DEPLOY_HOST ln -sv $CI_PROJECT_NAME.$CI_COMMIT_SHA $CI_PROJECT_NAME
    # Restart app
    - ssh $DEPLOY_HOST sudo systemctl start golang@$CI_PROJECT_NAME
  environment:
    name: production
    url: https://squanch.space
  only:
    - master
