[Unit]
Description=Golang thing daemon

[Service]
ProtectSystem=strict
ReadWritePaths=/etc/gothing.toml /var/lib/gothing
ExecStart=/usr/bin/gothing -conf /etc/gothing.toml
Restart=on-failure
User=gothing

[Install]
WantedBy=default.target
