{{ define "title" }}<title>Admin Panel - {{.Page.TheName}}</title>{{ end }}
{{ define "content" }}
<header>Admin Panel</header>

  <ul class="tabs">
    <li class="tabs-title is-active"><a href="#"><i class="fa fa-lock" aria-hidden="true"></i> Main</a></li>
    <li class="tabs-title"><a href="/admin/users"><i class="fa fa-users" aria-hidden="true"></i> Manage Users</a></li>
    <li class="tabs-title"><a href="/admin/list"><i class="fa fa-git" aria-hidden="true"></i> Manage Stuff</a></li>
    <li class="tabs-title"><a href="/admin/config"><i class="fa fa-wrench" aria-hidden="true"></i> Manage Config</a></li>
  </ul>
  <article>
        <ul>
        <li><a href="/admin/users">Manage Users</a></li>
        <li><a href="/admin/list">List all things</a></li>
        </ul>
  </article>        
{{ end }}
