{{ define "title" }}<title>{{.SiteName}}|Admin User Panel</title>{{ end }}
{{ define "content" }}
  <article>
    <header>
      <h3>Admin User Panel</h3>
    </header>
    <section class="content">
    <div>
        <form method="post" action="/auth/signup" id="signup">
        User:<input class="stack" type="text" id="username" name="username" placeholder="Username" size="12">
        Password:<input class="stack" type="password" id="password" name="password" placeholder="Password" size="12">
        <input type="hidden" name="token" value="{{.Token}}">
        Role:<select class="stack" id="role" name="role">
            <option>User</option>    
            <option>Admin</option>
        </select>
        <button class="stack" type="submit" class="button">Add User</button>
        </form>
    </div>
    </section>
    <footer>
    </footer>
  </article>
{{ end }}
