{{ define "title" }}<title>Image Gallery - {{.Page.TheName}}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "sidebar_nav" . }}
    {{ template "login_form" . }}
{{ end }}
{{ define "content" }}    
<h1>Image Gallery</h1>
<h2>Images</h2>
<table>
<tr>
<th width="80">Link</th>
<th width="200">Date</th>
<th width="20">Hits</th>
</tr>
{{$user := .Page.UN}}
{{range .Images}}
<tr>
<td>
<a class="th" href="/i/{{.Filename}}">
<img class="freezeframe" src="/thumbs/{{.Filename}}">
</a>
</td>
<td>{{.Created | prettyDate}}}</td>
<td>{{.Hits}}</td>
{{if $user}}<td><a href=/api/delete/image/{{.Filename}} class="button tiny alert">Delete</a></td>{{ end }}
{{ end }}
</table>
Using <a href="http://freezeframe.chrisantonellis.com">FreezeFrame</a>
 by <a href="http://www.chrisantonellis.com">Chris Antonellis</a>
{{ end }}
{{ define "extra_scripts" }}
<script src="/js/freezeframe.js" type="text/javascript">
freezeframe_options = {
	loading_background_color: "white"
}
</script>
{{ end }}