{{ define "title" }}<title>{{.Page.TheName}}|Admin User Panel</title>{{ end }}
{{ define "content" }}
<main>
  <article>
    <header>Admin User Panel</header>
  </article>

  <ul class="tabs">
    <li class="tabs-title"><a href="/admin"><i class="fa fa-lock" aria-hidden="true"></i> Main</a></li>
    <li class="tabs-title is-active"><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Manage Users</a></li>
    <li class="tabs-title"><a href="/admin/list"><i class="fa fa-git" aria-hidden="true"></i> Manage Stuff</a></li>
    <li class="tabs-title"><a href="/admin/config"><i class="fa fa-wrench" aria-hidden="true"></i> Manage Config</a></li>
  </ul>
  <article>  
        <form method="post" action="/admin/user/password_change" id="signup">
        User:<input class="stack" type="text" id="username" name="username" placeholder="Username" size="12">
        Password:<input class="stack" type="password" id="password" name="password" placeholder="Password" size="12">
        {{.Page.Token}}
        <button class="stack" type="submit" class="button">Change Users Password</button>
        </form>
  </article>
</main>  
{{ end }}
