{{ define "title" }}<title>Image Gallery - {{.Page.TheName}}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "sidebar_nav" . }}
{{ end }}
{{ define "content" }}
<article>
    <header>Image Gallery</header>
</article>
  <article>  
    <main>
        <h2>Images</h2>
        <table>
        <tr>
        <th>Link</th>
        <th>Date</th>
        <th>Hits</th>
        </tr>
        {{$user := .Page.UN}}
        {{range .Images}}
        <tr>
        <td>
        <a href="/i/{{.Filename}}">{{.Filename}}</a>
        </td>
        <td>{{.Created | prettyDate}}}</td>
        <td>{{.Hits}}</td>
        {{if $user}}<td><a href=/api/delete/image/{{.Filename}} class="button tiny alert">Delete</a></td>{{ end }}
        {{ end }}
        </table>
    </main>
  </article>
{{ end }}