{{ define "title" }}<title>Admin Panel - {{.Page.TheName}}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "sidebar_nav" . }}
{{ end }}
{{ define "content" }}
<article>
    <header>Admin Panel</header>
</article>
  <article>  
    <main>
        <ul>
        <li><a href="/admin/users">Manage Users</a></li>
        <li><a href="/admin/list">List all things</a></li>
        </ul>
    </main>
  </article>        
{{ end }}
