{{ define "title" }}<title>Image Gallery - {{.Page.TheName}}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "sidebar_nav" . }}
{{ end }}
{{ define "content" }}    
<h1>Image Gallery</h1>
<h2>Images</h2>
<table>
<tr>
<th width="80">Link</th>
<th width="200">Date</th>
<th width="20">Hits</th>
</tr>
{{$user := .Page.UN}}
{{range .Images}}
<tr>
<td>
<a class="th" href="/i/{{.Filename}}">
<img class="{{.Filename|imgClass}}" src="/thumbs/{{.Filename}}.png" data-gif="/imagedirect/{{.Filename}}">
</a>
</td>
<td>{{.Created | prettyDate}}}</td>
<td>{{.Hits}}</td>
{{if $user}}<td><a href=/api/delete/image/{{.Filename}} class="button tiny alert">Delete</a></td>{{ end }}
{{ end }}
</table>
{{ end }}
{{ define "extra_scripts" }}
<script src="/assets/js/jquery.gifplayer.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
    $('.gifs').gifplayer();
});
</script>
{{ end }}