{{ define "title" }}<title>Image Gallery - {{.Page.TheName}}</title>{{ end }}
{{ define "side" }}<div></div> {{ end }}
{{ define "content" }}
<main>    
  <article>
    <header>Image Gallery</header>
  </article>
  <article>  
		<div id="gallery" class="row">
        {{range .Images}}
        {{$imgext := .Filename|imgExt}}
          <div class="images">
              {{if eq $imgext "gif"}}
              <img class="gifplayer" data-gif="/imagedirect/{{.Filename}}" src="/thumbs/{{.Filename}}.png">
              {{else if eq $imgext "webm"}}
              <video controls poster="/thumbs/{{.Filename}}.png">
              <source src="/imagedirect/{{.Filename}}" type="video/webm">
              {{else if eq $imgext "mp4"}}
              <video controls poster="/thumbs/{{.Filename}}.png">
              <source src="/imagedirect/{{.Filename}}" type="video/mp4">
              {{else}}
              <img class="{{.Filename|imgClass}}" src="/thumbs/{{.Filename}}.png">
              {{end}}
              <div class="expanded button-group">
              <a href="/{{.Filename}}" class="small button"><i class='fa fa-external-link'></i>Link</a>
              <a href="/big/{{.Filename}}" class="small button"><i class='fa fa-arrows-alt'></i>Embiggen</a>
              </div>
          </div>
        {{ end }}
		</div>
  </article>
</main>  
{{ end }}