{{ define "title" }}<title>Image Gallery - {{.Page.TheName}}</title>{{ end }}
{{ define "content" }} 
<main>
  <article>
    <header>Image Gallery</header>
  </article>
  <article>  
      <div id="gallery" class="row">
        {{range .Images}}
        {{$imgext := .Filename|imgExt}}
        	<div class="images">
              {{if eq $imgext "gif"}}
              <img class="gifplayer" data-gif="/imagedirect/{{.Filename}}" src="/thumbs/{{.Filename}}.png">
              {{else if eq $imgext "webm"}}
              <img class="gifplayer" data-mode="video" data-webm="/imagedirect/{{.Filename}}" src="/thumbs/{{.Filename}}.png">
              {{else if eq $imgext "mp4"}}
              <img class="gifplayer" data-mode="video" data-mp4="/imagedirect/{{.Filename}}" src="/thumbs/{{.Filename}}.png">              
              {{else}}
              <img class="{{.Filename|imgClass}}" src="/thumbs/{{.Filename}}.png">
              {{end}}
              <div class="expanded button-group">
              <a href="/i/{{.Filename}}" class="small button"><i class='fa fa-external-link'></i>Link</a>
              <a href="/big/{{.Filename}}" class="small button"><i class='fa fa-arrows-alt'></i>Embiggen</a>
              </div>
          </div>
        {{ end }}
      </div>
  </article>
</main>  
{{ end }}
{{ define "extra_scripts" }}
<script src="/assets/js/jquery.gifplayer.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
    $('.gifplayer').gifplayer();
</script>
{{ end }}