{{ define "title" }}<title>Image Gallery - {{.Page.TheName}}</title>{{ end }}
{{ define "sidebar" }}
<ul>
</ul>
{{ end }}
{{ define "content" }}
<main>    
  <article>
    <header>Image Gallery</header>
  </article>
  <article>  
		<div id="gallery" class="row">
        {{range .Images}}
        {{$imgext := .Filename|imgExt}}
          <div class="columns">
            {{if eq $imgext "gif"}}
            <img class="{{.Filename|imgClass}}" data-gifffer="/imagedirect/{{.Filename}}">
            {{else if eq $imgext "webm"}}
            <img class="{{.Filename|imgClass}}" src="/thumbs/{{.Filename}}.png">
            {{else}}
            <img class="{{.Filename|imgClass}}" src="/thumbs/{{.Filename}}.png">
            {{end}}
            <div class="button-group">
            <a href="/{{.Filename}}" class="small button"><i class='fa fa-external-link'></i>Link</a>
            <a href="/big/{{.Filename}}" class="small button"><i class='fa fa-arrows-alt'></i>Embiggen</a>
            </div>
          </div>
        {{ end }}
		</div>
  </article>
</main>  
{{ end }}
{{ define "extra_scripts" }}
<script src="/assets/js/gifffer.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
window.onload = function() {
  Gifffer();
}
</script>
{{ end }}