{{ define "title" }}<title>Index - {{.Page.TheName}}</title>{{ end }}
{{ define "content" }}
<header>{{.Page.TheName}}</header>

<h3 class="subheader">Welcome!</h3>
<div class="panel callout">
Welcome to my Golang project!
</div>

{{ end }}