{{ define "title" }}<title>Index - {{.Page.TheName}}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "sidebar_nav" . }}
{{ end }}
{{ define "content" }}       
<h1>{{.Page.TheName}}</h1>
<hr />
<h3 class="subheader">Welcome!</h3>
<div class="panel callout">
Welcome to my Golang project!
</div>
{{ end }}