{{ define "title" }}<title>List - {{.Page.TheName}}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "sidebar_nav" . }}
    {{ template "login_form" . }}
{{ end }}
{{ define "content" }}
{{$user := .Page.UN}}
<h1>List of things</h1>
<hr />
<h2>Pastes</h2>
<table>
<thead>
    <tr>
    <th width="80">Link</th>
    <th width="200">Date</th>
    <th width="10">Hits</th>
    </tr>
</thead>

<tbody>
{{range .Pastes}}
    <tr>
    <td><a href=/p/{{.Title}}>{{.Title}}</a></td>
    <td>{{.Created | prettyDate}}</td>
    <td>{{.Hits}}</td>
    {{if $user}}<td><a href=/api/delete/paste/{{.Title}} class="button tiny alert delete">Delete</a></td>{{ end }}
    </tr>
{{ end }}
</tbody>
</table>
<h2>Files</h2>
<table>
<thead>
<tr>
<th width="80">Link</th>
<th width="200">Date</th>
<th width="20">Hits</th>
</tr>
</thead>
<tbody>
{{range .Files}}
<tr>
<td><a href=/d/{{.Filename}}>{{.Filename}}</a></td>
<td>{{.Created | prettyDate}}</td>
<td>{{.Hits}}</td>
{{if $user}}<td><a href=/api/delete/file/{{.Filename}} class="button tiny alert delete">Delete</a></td>{{ end }}
</tr>
{{ end }}
</tbody>
</table>
<h2>Short URLs</h2>
<table>
<thead>
<tr>
<th width="80">Short URL</th>
<th width="300">Long URL</th>
<th width="200">Date</th>
<th width="20">Hits</th>
</tr>
</thead>
<tbody>
{{range .Shorturls}}
<tr>
<td><a href=http://{{.Short}}.es.gy>{{.Short}}</a></td>
<td><a href={{.Long}}>{{.Long}}</a></td>
<td>{{.Created | prettyDate}}</td>
<td>{{.Hits}}</td>
{{if $user}}<td><a href=/api/delete/shorturl/{{.Short}} class="button tiny alert delete">Delete</a></td>{{ end }}
</tr>
{{ end }}
</tbody>
</table>
<h2>Images</h2>
<table>
<thead>
<tr>
<th width="80">Filename</th>
<th width="200">Date</th>
<th width="20">Hits</th>
</tr>
</thead>
<tbody>
{{range .Images}}
<tr>
<td><a href=/i/{{.Filename}}>{{.Filename}}</a></td>
<td>{{.Created | prettyDate}}</td>
<td>{{.Hits}}</td>
{{if $user}}<td><a href=/api/delete/image/{{.Filename}} class="button tiny alert delete">Delete</a></td>{{ end }}
</tr>
{{ end }}
</tbody>
</table>
{{ end }}