{{ define "title" }}<title>Login - {{.Page.TheName}}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "sidebar_nav" . }}
{{ end }}
{{ define "content" }}  
<main>   
<article><header><h1>Login</h1></header></article>
<article>
{{ template "login_form" .}}
</article>
</main>
{{ end }}