{{ define "title" }}<title>Login - {{.Page.TheName}}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "sidebar_nav" . }}
{{ end }}
{{ define "content" }}     
<h1>Login</h1>
{{ template "login_form" .}}
{{ end }}