{{ define "title" }}<title>{{ .Page.Title }} - {{.Page.TheName}}</title>{{ end }}
{{ define "content" }}   
<header><h1>{{ .Page.Title }}</h1></header>

{{$title := .Page.Title}}

<div>
{{.MD}}
</div>
{{ end }}
