{{ define "title" }}<title>New Short URL - {{.Page.TheName}}</title>{{ end }}
{{ define "content" }}  
<main>
  <article>
    <header>New Short URL</header>
  </article>
  <article>  
    <h3>Shorten URL</h3>
    <p>Specified shortname will work as a subdomain and subdirectory. [name].{{.Page.MainTLD}} as well as {{.Page.MainTLD}}/[name]</p>
    <hr />
      <form action="/api/shorten/new" method="POST" id="shorturl">
      <div class="input-group">
          <input class="input-group-field" type="text" name="long" placeholder="Enter the full destination URL...">
      </div>
      <div class="input-group">
          <input class="input-group-field" type="text" name="short" placeholder="Enter your requested short URL...">
      </div>        
      <div class="input-group">
          {{.Page.Token}}
          <input type="submit" class="button success" value="Submit">
      </div>
      </form>
  </article>   
</main>   
{{ end }}