{{ define "title" }}<title>{{.page.SiteName}}|Sign Up</title>{{ end }}
{{ define "content" }}
  <article>
    <header>
      <h3>Sign up</h3>
    </header>
    <section class="content">
    <div>
        <form method="post" action="/signup" id="signup">
        <input class="stack" type="text" id="username" name="username" placeholder="Username" size="12">
        <input class="stack" type="password" id="password" name="password" placeholder="Password" size="12">
        <input type="hidden" name="token" value="{{.Token}}">
        <button class="stack" type="submit" class="button">Sign Up</button>
        </form>
    </div>
    </section>
    <footer>
    </footer>
  </article>
{{ end }}