{{ define "title" }}<title>Upload Files - {{.Page.TheName}}</title>{{ end }}
{{ define "content" }}
<main>
  <article>
    <header>Upload a file</header>
  </article>
  <article>  
<ul class="accordion" data-accordion>
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title">Upload a local file</a>
    <div class="accordion-content" data-tab-content>
      <h3>Upload a local file</h3>
      <hr />
      <form action="/up" method="post" enctype="multipart/form-data" class="dropzone" id="fileup">
      <div class="row collapse">
        <div class="small-6 columns">
          <input type="file" name="file" id="file">
        </div>
        <div class="small-4 columns">      
          <input type="text" name="local-file-name" placeholder="Optional filename">
          <input type="hidden" name="token" value="{{.Page.Token}}">
        </div>
        <div class="small-2 columns">
          <input type="submit" name="submit" value="Submit" class="button success">
        </div>
      </div>
      </form>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Upload a remote file</a>
    <div class="accordion-content" data-tab-content>
      <h3>Upload a file from a remote URL</h3>
      <hr />
      <form method="post" action="/up" id="remotefileup">
      <div class="row collapse">
      <div class="small-6 columns">
        <input type="text" name="remote" placeholder="Enter your URL...">
      </div>
      <div class="small-4 columns">
        <input type="text" name="remote-file-name" placeholder="Optional filename">
        <input type="hidden" name="token" value="{{.Page.Token}}">
      </div>      
      <div class="small-2 columns">
        <input type="submit" name="submit" value="Submit" class="button success postfix">
      </div>
      </div>
      </form>
    </div>
  </li>
</ul>
  </article>
</main>  
{{ end }}
