{{ define "title" }}<title>{{ .Page.Title }} - {{.Page.TheName}}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "sidebar_nav" . }}
    {{ template "login_form" . }}
{{ end }}
{{ define "content" }}  
{{ if .Page.Msg }}
<div data-alert class="alert-box"> 
{{ .Page.Msg | safeHTML }}
<a href="#" class="close">&times;</a> 
</div>
{{ end }}     
<h1>{{ .Page.Title }}</h1>
{{$title := .Page.Title}}
{{ if .Page.UN }}
<div>
<ul class="tabs">
  <li class="tab-title active"><a href="#">View</a></li>
  <li class="tab-title"><a href="/n/+edit/{{$title}}">Edit</a></li>
  <li class="tab-title"><a href="/n/+raw/{{$title}}">Raw</a></li>
</ul>
</div>
{{ end }}
<hr />
<div>
{{ if .Page.UN }}
<form action="/n/+append/{{$title}}" method="POST">
Quick Add:<textarea name="append" style="height: 3em; width: 50%; font-family: monospace; font-size: 93%;" placeholder="#TITLE"></textarea>
<input type="submit" class="button success" value="Append to Page">
</form>
</div>
{{ end }}
{{range .Snip.Content}} 
<div class="panel radius">
<pre>{{.}}</pre>
</div>
{{ end }}
{{ end }}
