.row {
  max-width: 100%; 
}

button.tiny, .button.tiny {
    padding-top: 0.25rem;
    padding-right: 1.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem; 
    margin-bottom: 0.25rem;
}

.sidebar
{
  z-index: 20;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  max-width:12rem;
}

textarea {
  height: 20rem;
}

.thumbspacer {
  height: 300px;
}

.freezeframe_done {
  max-width: 300px;
  max-height: 300px;
}

figure.freezeframe-container {
  max-width: 300px;
  max-height: 300px;
}

img.imgs {
  max-height: 290px;
}

img.gifs {
  max-height: 290px;
}

a.th {
  max-height: 300px;
}

figure {
    margin: 0;
}

.inline-list li {
  margin-left: 0.3rem;
}

ul.inline-list  {
  line-height: 1;
}



ins.play-gif{
    box-sizing:border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 40px;
    min-width: 40px;
    text-align: center;
    background: #222;
    line-height: 34px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50%;
    opacity: .9;
    border: 3px solid #fff;
    cursor:pointer;
    text-decoration: none;
}

ins.play-gif:hover{
    opacity:.5;
}

.gifplayer-wrapper{
    position:relative;
}

a.gif-view-full{
    position:absolute;
    right:4px;
    z-index:99;
    font-weight:bold;
}

@media (max-width : 480px) {
    a.gif-view-full{
        display:inline-block !important;
    }
}

.spinner {
    height:25px;
    width:25px;
    margin:0px auto;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-19px;
    margin-left:-19px;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(256,256,256,.15);
    border-right:6px solid rgba(256,256,256,.15);
    border-bottom:6px solid rgba(256,256,256,.15);
    border-top:6px solid rgba(256,256,256,.8);
    border-radius:100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.icon-maximize:before{;
    content: "\f0b2";
}