{{define "nav"}}
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand"><a href="/">{{ .Title }}</a></p>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <!--{{ range .Site.Menus.main }}
            <li><a href="{{.Url}}">{{ .Pre }}<span>{{ .Name }}</span></a></li>
            {{end}}-->
            <li><a href="/"><span>Hooray</span></a></li>
            </ul>
          </div>
        </div>
       <!-- Sidebar -->
       <div id="sidebar-wrapper">
        <div class="sidebar-nav">
        <ul class="list-unstyled sidebar-brand">
          <li><a href="/"><img src="/logo.png" alt="Jordan's Blog"></a><h3>McSpicy Golang Wiki!</h3></li>
        </ul>
          <hr />
        {{if .User}}
          <p>HELLO {{ .User }}!</p>
        {{else}}
          <div id="login">
          <h1>Login</h1>
          <form method="post" action="/login">
          <label for="name">Username</label>
          <input type="text" id="name" name="name">
          <label for="password">Password</label>
          <input type="password" id="password" name="password">
          <button type="submit">Login</button>
          </form>
          </div>
        {{end}}
        <!--<ul class="list-unstyled">
          {{ range .Site.Menus.main }}
          <li><a href="{{.Url}}">{{ .Pre }}<span>{{ .Name }}</span></a></li>
          {{end}}
          {{ range .Site.Menus.more }}
          <li><a href="{{.Url}}">{{ .Pre }}<span>{{ .Name }}</span></a></li>
          {{end}}
        </ul>
          <hr />
          <h3>My Other Sites:</h3>
        <ul class="list-unstyled">
          {{ range .Site.Menus.sites }}
          <li><a href="{{.Url}}">{{ .Pre }}<span>{{ .Name }}</span></a></li>
          {{end}}
        </ul>
          <hr />-->
       </div>
       </div>
{{end}}