{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "title" . }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Gowiki">
  <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
  <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico" />
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/hc.css" rel="stylesheet">
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">
  <!--<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>-->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>  
  <!-- Ghosty-ness markdowny-ness 
  <script src="/static/js/ghostdown.js"></script>
  <link href="/static/css/ghostdown.css" media="all" rel="stylesheet">
  <link href="/static/css/bootstrap-markdown.min.css" rel="stylesheet">
  <script src="/static/js/markdown.js"></script>
  <script src="/static/js/to-markdown.js"></script>    
  <script src="/static/js/bootstrap-markdown.js"></script>-->
 </head>
<body>
<div id = "wrapper">
    <div id="sidebar-wrapper">
      <div class="sidebar-nav">
        <ul class="list-unstyled sidebar-brand">
          <li><a href="/"></a><h3>Moe's Tavern, Wiki, Pastebin, File Dump, and Petstore</h3></li>
        </ul>
        {{ template "sidebar" . }}
      </div>
    </div>
<div class="container">
<div id="main">
{{ template "content" . }}
</div>
</div>
</div>
<footer>
</footer>
</body>
</html>
{{ end }}
{{ define "sidebar" }}{{ end }}