{{ define "sidebar_nav" }}
        <hr />
        <ul class="list-unstyled">
          <li><a href="/"><span>Index</span></a></li>
          <li><a href="/list"><span>List All</span></a></li>
          <li><a href="/up"><span>Upload File</span></a></li>       
          <li><a href="/p"><span>Paste Text</span></a></li>          
          <!--<li><a href="/up"><span>Upload File</span></a></li>-->     
        </ul>
{{ end }}