{{ define "sidebar_nav" }}
        <hr />
        <ul class="side-nav">
          <li><a href="/"><span>Home</span></a></li>
          <li><a href="/list"><span>List</span></a></li>
          <li><a href="/i"><span>Image Gallery</span></a></li>
          <li><a href="/up"><span>Upload File</span></a></li>
          <li><a href="/iup"><span>Upload Image</span></a></li>
          <li><a href="/p"><span>Paste Text</span></a></li>
          <li><a href="/lg"><span>Network Tools</span></a></li>
          <li><a href="/short"><span>Shorten URL</span></a></li>
          <li><a href="/readme"><span>Readme</span></a></li>
          <li><a href="/changelog"><span>Changelog</span></a></li>
        </ul>
{{ end }}