{{ define "title" }}<title>Editing {{ .Title }}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "login_form" . }}
    {{ template "sidebar_nav" . }}
{{ end }} 
{{ define "content" }}       
<h1>Editing {{ .Title }}</h1>
<hr />
<form action="/api/new/wiki/{{.Title}}" method="POST">
  <textarea name="body" id="entry-markdown">{{printf "%s" .Body}}</textarea>
  <div><input type="submit" value="Save"></div>
</form>
{{ end }}