{{ define "title" }}<title>Editing {{ .Title }}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "login_form" . }}
    {{ template "sidebar_markdown" . }}
{{ end }} 
{{ define "content" }}       
<h1>Editing {{ .Title }}</h1>
{{$title := .Title}}
{{ if .UN }}
<div>
<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a href="/{{$title}}">View</a></li>
  <li role="presentation" class="active"><a href="/+edit/{{$title}}">Edit</a></li>
  <li role="presentation"><a href="/+raw/{{$title}}">Raw</a></li>
</ul>
</div>
{{ end }}
<hr />
<form action="/api/new/wiki/{{.Title}}" method="POST">
  Title: <input type="text" id="fmatter-title" name="fmatter-title" value='{{printf "%s" .Fmatter.Title}}' size="12"><br/>
  Date: <input type="text" id="fmatter-date" name="fmatter-date" value='{{printf "%s" .Fmatter.Date}}' size="12"><br/>
  Categories: <input type="text" id="fmatter-cats" name="fmatter-cats" value='{{printf "%s" .Fmatter.Categories}}' size="12"><br/>
  Private: <input type="text" id="fmatter-priv" name="fmatter-priv" value='{{printf "%s" .Fmatter.Private}}' size="12"><br/>
  <textarea name="fmatter" id="fmatter">{{printf "%s" .Fmatter}}</textarea>
  <textarea name="body" id="entry-markdown">{{printf "%s" .Body}}</textarea>
  <div><input type="submit" value="Save"></div>
</form>
{{ end }}