{{ define "title" }}<title>Index</title>{{ end }}
{{ define "sidebar" }}
    {{ template "login_form" . }}
    {{ template "sidebar_nav" . }}
{{ end }}
{{ define "content" }}       
<h1>Welcome to my Gowiki!</h1>
<hr />
<p>My first Golang app!</p>  
{{ if .UN }}
	<p>HELLO: {{ .UN }}	<p>
{{ else }}
	{{ template "login_form" .}}
{{ end }}
<div class="panel panel-default">
  <div class="panel-heading">
	<h3 class="panel-title">Paste stuff from CLI</h3>
  </div>
  <div class="panel-body">
curl --data "STUFF" http://m.jba.io/p(/ID)
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
	<h3 class="panel-title">Upload file from CLI</h3>
  </div>
  <div class="panel-body">
curl -T "file-to-upload" http://m.jba.io/up/
  </div>
</div>
{{ end }}
