{{ define "title" }}<title>List</title>{{ end }}
{{ define "sidebar" }}
    {{ template "login_form" . }}
    {{ template "sidebar_nav" . }}
{{ end }}
{{ define "content" }}       
<h1>List of things</h1>
<hr />
<h2>Pastes</h2>
<div class="list group">
{{range .Pastes}}<a class='list-group-item' href=/p/{{.}}>{{.}}</a><a href=/api/delete/paste/{{.}}>Delete</a>{{ end }}
</div><h2>Pages:</h2><div class='list group'>
{{range .Wikis}}<a class='list-group-item' href=/{{.}}>{{.}}</a><a href=/api/delete/wiki/{{.}}>Delete</a>{{ end }}
</div><h2>Files:</h2><div class='list group'>
{{range .Files}}<a class='list-group-item' href=/d/{{.}}>{{.}}</a><a href=/api/delete/uploads/{{.}}>Delete</a>{{ end }}
</div>
{{ end }}