/*
@import url(//fonts.googleapis.com/css?family=Khand|Open+Sans|Roboto+Condensed:300italic,400italic,700italic,400,700,300|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic);
*/

html {
  font-family: 'Roboto', "Helvetica Neue", helvetica, "Open Sans", sans-serif;
  font-size: 80%;
}

@media (min-width: 38em) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 48em) {
  html {
    font-size: 90%;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 100%;
  }
}

hr {
  border-color: #000;
}

body
{
  color:#000;
  background-color:#fff;
  width:100%;
  border-top:solid #777;
  border-width:4px
}

button, input, optgroup, select, textarea 
{
  color:#000
}

.entry-markdown-content input[type="submit"] {
  width: 5rem;
  height: 2rem;
  margin-right: 38rem;
  float: right !important;
}

h1,h2,h3,h4,h5,h6
{
  color:#000
}

h1
{
  font-weight:700;
  color:#000
}

h2,h3
{
  font-weight:700
}

h1 a,h2 a,h3 a,h4 a
{
  color:#000
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover
{
  color:#29598c
}

p {
  font-family:"Roboto Condensed", "Helvetica Neue", helvetica, "Open Sans", sans-serif;
  font-weight:300;
  font-size: 0.975rem;
}

#tags ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#tags li{
  display: inline;
}

.posts
{
  font-size:1rem;
  list-style:none;
  font-weight:lighter;
  line-height:150%;
  padding-bottom:30px
}

.homepage-posts
{
  list-style:none
}

.container
{
  width:95%;
  padding-right:0;
  padding-top:30px;
  background-color: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

a:link {
  color: #428BCA;
  text-decoration: none;
}

a:visited {
  color: #B58900;
  text-decoration: underline;
}

a:hover {
  color: #dc322f;
  text-decoration: underline;
}

a:active {
  color: #B58900; 
  text-decoration: none;
}

#wrapper
{
  padding-left:9.2rem;
  transition:all .5s ease 0
}

#sidebar-wrapper
{
  margin-left:-9rem;
  left:9rem;
  width:9rem;
  background:#fff;
  position:fixed;
  height:100%;
  overflow-y:auto;
  z-index:1000;
  margin-top:-4px;
  border-top:solid #000;
  transition:all .4s ease 0;
  border-width:4px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.sidebar-nav
{
  position:absolute;
  top:0;
  width:9rem;
  list-style:none;
  margin:0;
  padding:30px 0 0
}

.sidebar-nav li
{
  line-height:25px;
  text-indent:10px;
  font-family:"Roboto Condensed", "Helvetica Neue", helvetica, "Open Sans", sans-serif;
  font-weight:200;
  color:#9c9c9c;
  font-size: 1rem;
}

.sidebar-nav li a
{
  color:#999;
  display:block;
  text-decoration:none
}

.sidebar-nav li a:hover
{
  color:#fff;
  background:#000;
  text-decoration:none;
  transition:all .2s ease 0
}

.sidebar-nav li a:active,.sidebar-nav li a:focus
{
  text-decoration:none
}

.sidebar-nav > .sidebar-brand
{
  font-size:2rem
}

.sidebar-nav > .sidebar-brand > h3
{
  font-size:1.2rem;
  font-weight:100;
  color:#5d5f67;
  padding-left: 10px;
}

.nav-toggle {
    display: none;
    color: #777;
    padding-left: 10px;
    padding-top: 10px;
  }

.brand
{
  font-weight:800;
  color:#EEE8D5;
  font-family: "Roboto", "Helvetica Neue", helvetica, "Open Sans",sans-serif;
  font-size:2.2rem;
}

.brand:hover
{
  color:#d90006;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s
}

.sidebar-nav > .sidebar-brand a
{
  color:#999
}

.sidebar-nav > .sidebar-brand a:hover
{
  color:#fff;
  background:none
}

.content-header
{
  height:65px;
  line-height:65px
}

.content-header h1
{
  line-height:65px;
  display:inline-block;
  margin:0 0 0 20px
}

blockquote
{
  border-left:2px solid #d90006;
  border-right:2px solid #d90006;
  margin-left:-40px;
  margin-right:-40px;
  padding-left:40px;
  background:#f3f3f7
}

ul,ol
{
  font-weight:lighter
}

pre
{
  background:#f5f5f8
}

#social-wrapper
{
  color:#5c646f;
  padding:10px 0
}

#social-wrapper a
{
  font-size:1rem;
  text-indent:20px
}

#social-wrapper li
{
  font-size:1rem;
  text-indent:0;
  word-spacing:10px
}

#social-wrapper a:hover
{
  color:#2d1e18;
  transition:all .3s ease 0
}

.showcase-wrapper
{
  width:100%;
  height:80vh;
  min-height:500px;
  margin-top:-50px;
  box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -moz-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -webkit-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  border-bottom:solid 1px #fff;
  background-size: cover;
  z-index:-4
}

.showcase-text
{
  font-size:3rem;
  font-family: "Roboto", "Helvetica Neue", helvetica, "Open Sans", sans-serif;
  font-weight:bolder;
  color:#fff;
  text-align:center;
  padding-top:20%
}

.wide
{
  width:100%;
  background-color:#fff;
  margin:0;
  padding:0 10% 30px
}

#welcome-greeting
{
  width:100%;
  padding-top:5px
}

#welcome-greeting > h1
{
  font-size:3rem;
  font-weight:700;
  color:#d90006;
  line-height:130%
}

#welcome-greeting h1:hover
{
  font-size:3rem;
  font-weight:700;
  color:#2d4440;
  transition:all .5s ease 0
}

#welcome-greeting > h2
{
  font-size:2rem;
  font-weight:100;
  color:#2e2e2e;
  padding-top:0;
  line-height:140%
}

#welcome-greeting h2 a
{
  font-weight:100;
  color:#d90006
}

.credit
{
  bottom:0;
  width:100%;
  font-size:.8rem;
  padding-left:20px;
  margin-bottom:0;
  padding-bottom:5px;
  padding-top:5px;
  margin-top:40px;
  z-index:1;
  color:#777;
}

.label-danger
{
  background-color:#697b7b;
  font-weight:400;
  border-radius:.2rem;
  font-size:120%
}

.label-danger:hover
{
  background-color:#2d4440;
  transition:all .4s ease 0
}

.showcase-button
{
  border-radius:.5em;
  background-color:transparent;
  border:1px solid rgba(255,255,255,.4);
  color:rgba(255,255,255,.8);
  font-weight:200;
  font-family:"Helvetica Neue", helvetica, "Open Sans", sans-serif;
}

.showcase-button:hover
{
  border:1px solid rgba(255,255,255,1);
  color:rgba(255,255,255,1);
  background-color:transparent;
  transition:all .2s ease 0
}

.article-title
{
  font-size:2.5rem;
  font-weight:900;
  color:#fff;
  padding-top:15px;
  font-family: 'Roboto', serif;
}

.meta
{
  color:#b6b6b6;
}

img
{
  max-width:100%;
}

#article
{
  margin-bottom:30px;
  background-color: #fff;
  /*box-shadow:1px 1px 0 1px #e8e8e8;*/
  padding:10px 40px 0
}

.post
{
  padding-bottom:30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.0rem;
}

.user-social
{
  color:#c4c4c4;
  margin-right:20px;
  text-decoration:none
}

.user-social a
{
  color:#c4c4c4;
  text-decoration:none;
  margin-right:20px
}

.blue-outline
{
  border:2px solid #d21c38
}

time
{
  color:#c9c9c9;
  font-weight:100;
}

.pager li > a,.pager li > span
{
  border-radius:.5em
}

#self
{
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  border-radius:10px;
  max-height:200px;
  margin:0;
  padding:10px
}

#disqus_thread
{
  margin-top:100px
}

.recent-posts
{
  background-color:#fff;
  color:#4d4d4d;
  box-shadow:1px 1px 0 1px #e8e8e8;
  margin:10px 10%;
  padding:10px 40px
}

.recent-posts h1
{
  padding-bottom:10px;
  font-size:1.6rem
}

.project-container
{
  width:100%;
  height:170px;
  box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -moz-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -webkit-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  border-bottom:solid 1px #fff;
  background-image:url(http://lorempixel.com/900/200/);
  background-size: cover;
  z-index:-4;
  margin-top:-55px;
  margin-bottom:30px;
  color:#fff
}

.project-container h1
{
  font-size:3rem;
  font-family:"Helvetica Neue", helvetica, "Open Sans", sans-serif;
  font-weight:bolder;
  color:#fff;
  text-align:center;
  padding-top:20px
}

.project-container p
{
  font-weight:200;
  font-family:"Helvetica Neue", helvetica, "Open Sans",sans-serif;
  color:#fff;
  text-align:center;
  left-padding:20%
}

.project-box
{
  background-color:#f9f9f9;
  box-shadow:1px 1px 0 1px #e8e8e8;
  min-height:200px
}

.project-box:hover
{
  background-color:#fff;
  box-shadow:1px 1px 0 1px #e8e8e8;
  min-height:200px
}

.project-title
{
  color:#000
}

.project-image
{
  position:relative;
  margin:0
}

.project-image hr
{
  margin-top:5px;
  margin-bottom:0;
  display:none
}

.project-post
{
  cursor:pointer
}

.project-post h4
{
  font-weight:200;
  font-size:1rem
}

.user-card
{
  background-color:#f9f9f9;
  box-shadow:1px 1px 0 1px #e8e8e8;
  max-width:800px;
  padding:10px 40px 0
}

.user-card h1
{
  font-family:"Helvetica Neue", helvetica, "Open Sans",sans-serif;
  font-weight:bolder;
  font-size:2.5rem;
  line-height:55px;
  color:#777
}

.user-card p
{
  color:#c4c4c4;
  font-size:small
}

.card
{
  margin-left:-40px;
  margin-top:-10px
}

.letter p
{
  font-size:1.2rem;
  font-weight:lighter;
  color:#737373;
}

.fashion
{
  border-left:solid 2px #bc0005
}

.fashion-button
{
  background-color:#bc0005
}

.fashion:hover
{
  border-left:solid 2px #f40006
}

.fashion-button:hover
{
  background-color:#f40006
}

.programming
{
  border-left:solid 2px #7dbcb2
}

.programming-button
{
  background-color:#7dbcb2
}

.programming:hover
{
  border-left:solid 2px #bbe9e2
}

.programming-button:hover
{
  background-color:#bbe9e2
}

.tech
{
  border-left:solid 2px #644539
}

.tech-button
{
  background-color:#644539
}

.tech:hover
{
  border-left:solid 2px #F4A273
}

.tech-button:hover
{
  background-color:#F4A273
}

.misc
{
  border-left:solid 2px #9e9599
}

.misc-button
{
  background-color:#9e9599
}

.misc:hover
{
  border-left:solid 2px #cfe0ea
}

.misc-button:hover
{
  background-color:#cfe0ea
}

.podcasts
{
  border-left:solid 2px #387b94
}

.podcasts-button
{
  background-color:#387b94
}

.podcasts:hover
{
  border-left:solid 2px #2FD0EF
}

.podcasts-button:hover
{
  background-color:#2FD0EF
}

#menu-toggle,.project-post div
{
  display:none
}

#article h1,#article h2,#article h3
{
  font-family: 'Khand', sans-serif;
  font-weight: 400;
  display: block;
  width: 50%;
  color:#eceff1;
}

#article h1 a {
  color: #eee8d5;
}

#article h1 a:hover {
  color: #dc322f;
}

.navbar 
{
  display: none;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
  padding-top: 20px;
}

#sidebar-wrapper {
    border-right: 4px solid #777;
    border-top: none;
    left: 0px;
}
 .nav-toggle {
    display: ;
  }
#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.7s ease 0s;
}


.inset {
  padding: 15px;
}
.navbar 
{
  display: inherit;
  background-color: #ededed;
  margin-top: -20px;
}

}

@media screen and (max-width: 500px) {
  #welcome-greeting h2 {
   font-size: 0.7rem; 
   transition: all 0.2s ease 0s;
   font-weight: 200;
   line-height: 30px;

  }
  .container {
    width: 100%;
    margin: 0 0 0 0;
    padding: 15px 15px 0 15px;
  }

  #article {
      padding: 0 10px 0 10px;
  }




.showcase-wrapper {
  width: 100%;
  height: 50%;
  font-size: small;
}

}

@media (max-height: 1000px) {
  #social-wrapper {
    display: none;
  }
}

.post-date {
  font-size: 0.8rem;
  font-weight: 300;
  font-family:"Roboto Condensed", "Helvetica Neue", helvetica, "Open Sans", sans-serif;
  font-style: italic;
}

.post-title {
    border: 2px solid;
    border-radius: 25px;
    padding-left: 20px;
}

.post-category {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #999;
    background: #073642;
    font-size: 0.75rem;
    border: 0px solid;
    border-radius: 25px;
}
a.post-category {
  text-decoration: none;
}
a.post-category:hover {
  color: #fff;
  text-decoration: underline;
}


/* post cats */
/* unvisited link */
a.post-category-linux {
    color: #000;
    background: #ffff00;
}

a.post-category-howto {
    color: #fff;
    background: #259b24;
}

a.post-category-meta {
    color: #999;
    background: #073642;
}

a.post-category-arch, a.post-category-pkgbuild {
    color: #333;
    background: #1793D1;
}

#isso-thread .isso-postbox {
  font-size 0.8rem;
  color: #000;
}
