{{ define "base" }}
<!DOCTYPE html>
<html lang="en" >
<head>
  {{ template "title" . }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Golang powered thing">
  <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
  <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
  <link rel="stylesheet" href="/assets/css/grid.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
 </head>

<body>
<header><a href="/">{{.Page.TheName}}</a></header>
{{ block "side" .}}
  <nav>
      {{ template "sidebar" .}}
  </nav>
{{ end }}

{{ .Page.FlashMsg }}

<main>
  {{ template "content" . }}
</main>

{{ template "extra_scripts" . }}
<script>
  function notif() {
    document.getElementById('notification').classList.remove("active");
  }
</script>  
</body>
</html>
{{ end }}
{{ define "extra_scripts" }}{{ end }}
