{{ define "base" }}
<!DOCTYPE html>
<html lang="en" >
<head>
  {{ template "title" . }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Golang powered thing">
  <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
  <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
  <link rel="stylesheet" href="/assets/css/thing.css">
  <link rel="stylesheet" href="//static.jba.io/material-icons/material-icons.css">
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/foundation.min.js"></script>
 </head>

<body>
  <nav>
    <header><a href="/">{{.Page.TheName}}</a></header>
      {{ template "sidebar" .}}
  </nav>

  <section>
    {{ .Page.FlashMsg |safeHTML }}
    {{ template "content" . }}
  </section>

  {{ template "extra_scripts" . }}
<script>
$(document).foundation();
</script>  
</body>
</html>
{{ end }}
{{ define "sidebar" }}{{ end }}
{{ define "extra_scripts" }}{{ end }}
