{{ template "head" }}
<title>Editing {{ .Title }}</title>
{{ template "mid_p" }}
{{ template "sidebar" }}
<div class="container">
<div id="main">
<h1>Editing {{ .Title }}</h1>
<hr />
  <div class="features">
		        <form action="/api/new/wiki/{{.Title}}" method="POST">
		          <textarea name="body" id="entry-markdown">{{printf "%s" .Body}}</textarea>
		          <div><input type="submit" value="Save"></div>
		        </form>
  </div>
<!--<script>
$("#entry-markdown").markdown({iconlibrary:"fa",resize:"both"})
</script>-->  
{{ template "foot" }}