{{ template "head" .}}
<title>Login Page</title>
{{ template "mid" .}}
{{ template "sidebar" .}}
<div class="container">
<div id="main">
<h1>UNAUTHORIZED</h1>
    <hr />
    <p>Please login to do whatever you were trying to do!</p>
{{ template "login_form" .}}
{{ template "foot" .}}