{{ template "head" }}
<title>Index</title>
{{ template "mid" }}
{{ template "sidebar" }}
<div class="container">
<div id="main">
<h1>UNAUTHORIZED</h1>
    <hr />
    <p>Please login to do whatever you were trying to do!</p>
<div id="login">
<h1>Login</h1>
<form method="post" action="/login">
<label for="name">Username</label>
<input type="text" id="name" name="name">
<label for="password">Password</label>
<input type="password" id="password" name="password">
<button type="submit">Login</button>
</form>
</div>
{{ template "foot" }}