{{ template "head" }}
<title>Index</title>
{{ template "mid_p" }}
{{ template "sidebar" }}
<div class="container">
<div id="main">
<h1>ALREADY LOGGED IN</h1>
<div id="login">
<h1>YOU ARE ALREADY LOGGED IN</h1>
</div>
{{ template "foot" }}