{{ define "mid" }}
</head>
<body>
  <div id = "wrapper">
       <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <div class="sidebar-nav">
        <ul class="list-unstyled sidebar-brand">
          <li><a href="/"><img src="/logo.png" alt="Jordan's Blog"></a><h3>McSpicy Golang Wiki!</h3></li>
        </ul>
          <hr />
{{ end }}