{{ define "mid_p" }}
</head>
<body>
  <div id = "wrapper">
       <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <div class="sidebar-nav">
        <ul class="list-unstyled sidebar-brand">
          <li><a href="/"><img src="/static/logo.png" alt="Jordan's Gowiki"></a><h3>Moe's Tavern, Wiki, Pastebin, File Dump, and Petstore</h3></li>
        </ul>
          <hr />
<a href="/logout">Logout</a>
{{ end }}