{{ define "sidebar" }}
	<hr />
        <ul class="list-unstyled">
          <li><a href="/"><span>Index/Login</span></a></li>
          <li><a href="/list"><span>List All</span></a></li>
          <li><a href="/up"><span>Upload File</span></a></li>       
          <li><a href="/p"><span>Paste Text</span></a></li>          
          <!--<li><a href="/up"><span>Upload File</span></a></li>-->          
        </ul>
      </div>
    </div>
{{ end }}
