{{ template "head" }}
<title>Upload a file</title>
{{ template "mid" }}
{{ template "sidebar" }}
<div class="container">
<div id="main">
<h1>Upload a file</h1>
<hr />
<form action="/up" method="post" enctype="multipart/form-data">
<label for="file">Filename:</label>
<input type="file" name="file" id="file">
<input type="submit" name="submit" value="Submit">
</form>
<h1>Upload a file from a remote URL</h1>
<hr />
<form method="post" action="/rup" id="rup">
<input type="text" id="remote" name="remote" placeholder="Remote URL" size="25">
<input type="submit" name="submit" value="Submit">
</form>
{{ template "foot" }}