{{ template "head" }}
<title>{{ .Title }}</title>
{{ template "mid_p" }}
{{ template "sidebar" }}
<div class="container">
<div id="main">
<h1>{{ .Title }}&nbsp;|&nbsp;[<a href="{{.Title}}/edit/">edit</a>]&nbsp;[<a href="{{.Title}}/raw/">raw</a>]</h1>
<hr />
<div>{{ .Content }}</div>
{{ template "foot" }}