{{ template "head" }}
<title>{{ .Title }}</title>
{{ template "mid" }}
{{ template "sidebar" }}
<div class="container">
<div id="main">
<h1>{{ .Title }}&nbsp;|&nbsp;[<a href="/+edit/{{.Title}}">edit</a>]&nbsp;[<a href="/+raw/{{.Title}}">raw</a>]</h1>
<hr />
<div>{{ .Content }}</div>
{{ template "foot" }}