{{ define "base" }}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Gowiki">
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  <link rel="shortcut icon" type="image/png" href="//jba.io/favicon.png"/>
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/hc.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
    {{ template "title" . }}
</head>
<body>
  <div id = "wrapper">
    {{ template "scripts" . }}
    {{ template "sidebar" . }}
     <div class="container">
		<div id="main">
    		{{ template "content" . }}
    	</div>
    </div>
  </div>
<footer>
</footer>
</body>
</html>
{{ end }}
{{ define "scripts" }}{{ end }}
{{ define "sidebar" }}{{ end }}
